<form method="post" action="{{ path('espace_location_delete', {'id': location.id}) }}" onsubmit="return confirm('Voulez confirmez la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ location.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
